.player-one {
  height: 50vh; /* Establece la altura al 100% del viewport */
}
.player-one-add {
  margin: 0 auto;
  background-color: blue;
  min-width: 50vh;
  min-height: 50vh;
  border: 1px solid black;
}
.player-one-substract {
  margin: 0 auto;
  background-color: blue;
  min-width: 50vh;
  min-height: 50vh;
}

.player-img {
  border: solid 3px red;
}
