.player-one-container {
  height: 50vh;
  width: 100vw;
}

.player-one-add {
  margin: 0 auto;
  background-color: blue;
  width: 100vw;
  height: 25vh;
}
.player-one-substract {
  margin: 0 auto;
  background-color: blue;
  width: 100vw;
  height: 25vh;
}

.player-img {
  width: 200px;
}
