.villain-container {
  height: 50vh;
  width: 100vw;
}

.villain-add {
  margin: 0 auto;
  background-color: red;
  width: 100vw;
  height: 25vh;
}
.villain-substract {
  margin: 0 auto;
  background-color: red;
  width: 100vw;
  height: 25vh;
}

.villain-img {
  width: 200px;
}
