#root {
  margin: 0 auto;

  text-align: center;
}

.App {
  box-sizing: border-box;
}

h1 {
  margin: 0 auto;
}
.player-one {
  height: 100vh; /* Establece la altura al 100% del viewport */
}
.player-one-add {
  margin: 0 auto;
  background-color: blue;
  min-width: 50%;
  min-height: 50%;
}
.player-one-substract {
  margin: 0 auto;
  background-color: blue;
  min-width: 50%;
  min-height: 50%;
}
